<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing Page</title>
	<link rel="stylesheet" href="./css/glide.core.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
	<style type="text/css">
		@font-face {
			font-family: 'ChronicleDisp';
			src: url('./fonts/ChronicleDisp-Roman.otf') format("opentype");
			font-weight: 400;
			font-style: normal;
		}
		@font-face {
			font-family: 'SuisseVPIntl';
			src: url('./fonts/SuisseBPIntl-Medium.otf') format("opentype");
			font-weight: 400;
			font-style: normal;
		}
		#landing__container {
			display: flex;
			flex-direction: row;
		}
		html, body, #landing__container {
			width: 100%;
			height: 100%;
		}
		body {
			margin: 0;
			overflow: hidden;
		}
		ul {
			margin-block-start: 0;
			margin-block-end: 0;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			padding-inline-start: 0;
		}
		#landing__curtain {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: white;
			opacity: 1;
			z-index: 2;
		}
		#landing__curtain.show{
			animation: curtain .5s forwards;
		}
		@keyframes curtain {
			0% { opacity: 1; }
			100% { opacity: 0; }
		}
		#landing__logo {
			z-index: 1;
			width: 32vh;
			height: fit-content;
			-o-transition: background 1s ease-out;
			-ms-transition: background 1s ease-out;
			-moz-transition: background 1s ease-out;
			-webkit-transition: background 1s ease-out;
			transition: background 1s ease-out;

		}
		#landing__logo, #landing__body {
			height: 100%;
		}
		.landing__body_background {
			z-index: -1;
			position: absolute;
			right: 0;
			left: 34vh;
			top: 0;
			width: calc(100% - 34vh);
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}
		#landing__body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		#landing__logo_img_v, #landing__body{
			height: 100%;
			width: auto;
		}
		#landing__logo_img_h {
			width: 100%;
			height: auto;
		}
		#landing__body_advice_text {
			padding-right: 20vw;
		}
		#landing__body_advice_text p {
			margin: 0;
			color: white;
			font-size: 3.7vw;
			font-family: 'ChronicleDisp';
		}
		.landing__body_buttons {
			margin-bottom: 2vw;
			margin-left: 5vw;
		}
		.landing__body_buttons button {
			background-color: white;
			border: 0;
			border-radius: 30px;
			height: 50px;
			width: fit-content;
			padding: 0 30px;
			font-size: 1.3em;
			font-family:  SuisseVPIntl;
			cursor: pointer;

			-o-transition:color 1s ease-out;
			-ms-transition:color 1s ease-out;
			-moz-transition:color 1s ease-out;
			-webkit-transition:color 1s ease-out;
			transition:color 1s ease-out;
		}
		#landing__body_advice_text p {
			margin: 2vw 7vw;
		}
		.landing__body_buttons button{
			margin: 2vw;
		}
		#landing__logo_img_h {
			display: none;
		}
		#landing__logo_img_v {
			display: block;
		}
		.landing__slider .glide__track,
		.landing__slider .glide__slides,
		.landing__slider .glide__slide {
			height: 100vh;
		}
		.landing__slider .glide__slide img {
			height: 100vh;
			position: relative;
			/*top: 15vh;*/
		}
		.landing__slider .glide__slide img.fix__img {
			width: 110%;
			height: auto;
			position: relative;
			/*top: 15vh;*/
		}
		.landing__slider.almost__square {
			width: 140vh;
		}
		@media (orientation: portrait) {
			#landing__container {
				flex-direction: column;
			}
			#landing__logo_img_h {
				display: block;
			}
			#landing__logo_img_v {
				display: none;
			}
			#landing__logo {
				width: 100%;
				height: auto;
			}
			.landing__body_background {
				left: 0;
				width: 100%;
			}
			#landing__body_advice_text {
				padding-right: 0;
			}
			#landing__body_advice_text p {
				font-size: 1.7em;
			}
			.landing__body_buttons {
				display: flex;
				flex-wrap: wrap;
				justify-content: left;
				margin-bottom: 5vw;
			}
			.landing__body_buttons button {
				width: fit-content;
				height: 40px;
				/*width: calc(100% - 4vw*2);*/
				font-size: 0.9em;
				font-family:  SuisseVPIntl;
			}
			#landing__body_advice_text p {
				margin: 7vw;
			}
			.landing__slider .glide__slide img, .landing__slider .glide__slide img.fix__img {
				top: 15vh;
			}
		}
		@media (max-height: 479px) {
			#landing__body {
				overflow: scroll;
			}
		}
	</style>
</head>
<body>
<div id="landing__container">
	<div id="landing__curtain" v-bind:class="{show: show}"></div>
	<!-- <img v-if="!isMobile" class="landing__body_background" :src="colours[index].image" @load="onLoadImage"> -->
	<div class="landing__body_background">
		<div class="landing__slider" v-bind:class="{almost__square: isAlmostSquare}">
			<div data-glide-el="track" class="glide__track">
				<ul class="glide__slides">
					<li v-for="col in colours" class="glide__slide"><img :src="col.image" v-bind:class="{fix__img: window.innerHeight/window.innerWidth < 2}" @load="onLoadImage"></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="landing__logo" v-bind:style="{'background-color': colours[index].color}">
		<img id="landing__logo_img_v" src="./img/GECA_logo_transparent_vert.svg">
		<img id="landing__logo_img_h" src="./img/GECA_logo_transparent.svg">
	</div>
	<div id="landing__body">
		<div id="landing__body_advice_text">
			<p>GeCA, Geoportale della Cultura Alimentare, entra in una nuova fase del suo percorso, e vedrà nei prossimi mesi un rinnovamento nella forma e nei contenuti.</p>
		</div>
		<div class="landing__body_buttons">
			<button @click="goToOldGeCa" v-bind:style="{'color': colours[index].color}">Consulta la versione attuale di GeCA</button>
			<button @click=	"goToPressRoom" v-bind:style="{'color': colours[index].color}">Press room</button>
		</div>
	</div>
</div>
</body>
</html>
<script type="text/javascript" src="./js/glide.min.js"></script>
<script type="text/javascript" src="./js/vue.min.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: "#landing__container",
		data: {
			index: 0,
			show: false,
			isMobile: window.innerWidth < window.innerHeight
		},
		computed: {
			colours: function (){
				return [
					{
						color: "#d3a74d",
						image: `./img/GECA_landing_yellow${this.isMobile ? '_mobile' : ''}.jpg`
					},
					{
						color: "#51778d",
						image: `./img/GECA_landing_blue${this.isMobile ? '_mobile' : ''}.jpg`
					},
					{
						color: "#6e5f58",
						image: `./img/GECA_landing_brown${this.isMobile ? '_mobile' : ''}.jpg`
					},
					{
						color: "#67313e",
						image: `./img/GECA_landing_red${this.isMobile ? '_mobile' : ''}.jpg`
					}
				]
			},
			isAlmostSquare: function() {
				return !this.isMobile && window.innerHeight/window.innerWidth > 0.6 && window.innerHeight/window.innerWidth < 0.9
			}
		},
		methods: {
			goToOldGeCa(){
				// insert here the current location of geoportale site
				window.top.location.href = '/?hide_banner=1'
			},
			goToPressRoom(){
				// insert here the current location of geoportale site
				window.top.location.href = '/pressroom'
			},
			onLoadImage(){
				if(!this.show){
					this.show = true;
					const animated = document.querySelector('#landing__curtain');

					animated.addEventListener('animationend', () => {
						animated.style.display = 'none';
					});
					// if(this.isMobile){
					let logoHeight = document.querySelector('#landing__logo_img_h').height;
					let glide = new Glide('.landing__slider', {
						type: 'carousel',
						autoplay: 3000,
						perView: 1,
						rewindDuration: 0,
						animationDuration: 1000
					}).mount()

					glide.on('move', e => {
						this.index = glide.index
					})

					glide.on('mount.before', e => {
						document.querySelector('.landing__slider .glide__slide img').style.top = logoHeight;
					})
					// }
				}
			}
		},
		mounted(){
			this.index = 0;
			// this.index = this.isMobile ? 0 : parseInt(Math.random()*4);
			window.addEventListener("orientationchange", () => {
				window.location.reload()
			});
		}
	});
</script>